.navbar {
  width: 100%;
  min-height: 50px;
  display: flex;
  border-top: 4px solid hsl(27, 89%, 48%);
  border-bottom: 1px solid hsl(210, 8%, 85%);
}

.half-inline {
  display: inline-block;
  width: 50%;
}

.logo-container {
  padding: 10px 35px;
}

.logo {
  height: 30px;
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #636363;
  }
}
